# Environment Configuration
VITE_ENVIRONMENT_TYPE=dev

# Server URLs - Will be determined by VITE_ENVIRONMENT_TYPE
# Development URLs (default)
VITE_BACKEND_URL_DEV=http://127.0.0.1:5000
VITE_FRONTEND_URL_DEV=http://localhost:3000

# Production URLs
VITE_BACKEND_URL_PROD=https://desirable-gentleness-production.up.railway.app
VITE_FRONTEND_URL_PROD=https://global-hackathon-v1-production.up.railway.app

# App Configuration
VITE_APP_NAME=Hackathon App
VITE_APP_VERSION=1.0.0
